<div class="row">
    <h3>New Todo</h3>
    <div class="col-xs-12">
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                id="title"
                formControlName="title"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xs-12">
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox" formControlName="done" id="done" class="form-check-input"> Done
                 </label>
            </div>
          </div>
        </div>
        
        <div class="row mt-2">
          <div class="col-xs-4 col-md-4">
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="model"
                    ngbDatepicker
                    #d="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        
        <div class="row mt-2">
            <div class="col-xs-4 col-md-4">
                <div ngbDropdown container="body">
					<button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
					<div ngbDropdownMenu>
						<button ngbDropdownItem>Edit</button>
						<button ngbDropdownItem>Duplicate</button>
						<button ngbDropdownItem>Move</button>
						<div class="dropdown-divider"></div>
						<button ngbDropdownItem>Delete</button>
					</div>
				</div>
                
            </div>
          </div>
  
        <div class="row btn-grp mt-2">
            <div class="col-xs-12">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!todoForm.valid">Save</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  